
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', system-ui;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-areas: "sidebar main";
  @media (--mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto;
    grid-template-areas: "sidebar"
                         "main";
  }
}