@import url('https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap');
:root {
  --grayColor: #fcfcfc;
  --blue: #1a1a4c;
  --red: #e92042;
  --white: white;
  --background: #f7fcff;
  /* tipografías */
  --fontSmall: 12px;
  --fontMedium: 17px;
  --fontColor: #596188;

  /* Tamaños */
  --borderRadius: 5px;
}


html, 
body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', system-ui;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-areas: "sidebar main"
}

.sidebar {
  background-color: var(--grayColor);
  box-shadow: 2px 0px 11px -6px rgba(0,0,0,0.75);
  grid-area: sidebar;
  position: fixed;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100px;
  padding: 1em 0;
  & .sidebar-image {
    width: 60%;
    margin: 0 auto;
  }
  & .sidebar-social {
    & .sidebar-social-item {
      display: block;
      width: 30px;
      height: 30px;
      margin: 0 auto;
      margin-bottom: 2em;
/*       &:last-child {
        margin-bottom: 0;
      } */
    }
    & .instagram {
      background-image: url('../../assets/icons/instagram.svg');
      background-size: contain;
      background-position: center;
    }
    & .twitter {
      background-image: url('../../assets/icons/twitter.svg');
      background-size: contain;
      background-position: center;
    }
    & .youtube {
      background-image: url('../../assets/icons/youtube.svg');
      background-size: contain;
      background-position: center;
    }
    & .whatsapp {
      background-image: url('../../assets/icons/whatsapp.svg');
      background-size: contain;
      background-position: center;
    }
  }
}
.main {
  background-color: var(--background);
  grid-area: main;
}

.header {
  background: var(--grayColor);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
  height: 70px;
  font-size: var(--fontMedium);
  & .header-menu {
    height: inherit;
    & ol {
      display: flex;
      height: inherit;
      margin: 0;
      & li {
        list-style-type: none;
        margin-left: 2em;
        height: inherit;
        & .header-menu-link {
          color: var(--blue);
          text-decoration: none;
          height: inherit;
          display: flex;
          align-items: center;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.hero {
  background: var(--grayColor);
  padding: 0 10% 5%;
  display: flex;
  box-shadow: 0px 9px 19px -17px rgba(0,0,0,0.63);
  & .hero-title {
    margin: 0;
    font-size: 4em;
    width: 50%;
    font-weight: bold;
  }
  & div {
    width: 50%;
    position: relative;
    & .hero-imageWrapper {
      margin: 0%;
      max-width: 400px;
      max-height: 400px;
      background: var(--red);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--borderRadius);
      position: absolute;
      top: 30%;
      left: 5%;
      box-shadow: 10px 9px 19px -17px rgba(0,0,0,0.63);
      & .hero-image {
        width: 100%;
        overflow: hidden;
        border-radius: var(--borderRadius);
      }
    }
  }
}

.start {
  padding: 7% 0% 7% 10%;
  & .details {
    width: fit-content;
    background-color: var(--grayColor);
    display: flex;
    aling-items: center;
    font-size: var(--fontMedium);
    box-shadow: 4px 5px 15px -10px rgba(0,0,0,0.75);
    padding: 2%;
    border-radius: var(--borderRadius);
    & .details-imageWrapper {
      margin: 0;
      margin-right: 1em;
      & .details-image {

      }
    }
    & .details-title {
      margin: 0 0 1em;
    }
    & .details-description {
      margin: 0;
      color: var(--fontColor);
    }
  }
  & .details:nth-of-type(2) {
    margin-top: 2%;
    margin-left: 10%
  }
  & .rocket {
    margin-left: 60%;
    margin-top: -3%;
  }
}

.footer {
  background: var(--red);
  color: var(--white);
}