@import url('https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap');
:root {
  --grayColor: #fcfcfc;
  --blue: #1a1a4c;
  --red: #e92042;
  --white: white;
  --background: #f7fcff;
  /* tipografías */
  --fontSmall: 12px;
  --fontMedium: 17px;
  --fontSubtitle: 36px;
  --fontTitle: 64px;
  --fontColor: #596188;

  /* Tamaños */
  --borderRadius: 5px;

  --cards {
    width: fit-content;
    background-color: var(--grayColor);
    display: flex;
    aling-items: center;
    font-size: var(--fontMedium);
    box-shadow: 4px 5px 15px -10px rgba(0,0,0,0.75);
    padding: 2%;
    border-radius: var(--borderRadius);
  };
}


html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', system-ui;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-areas: "sidebar main";
  @media (--mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto;
    grid-template-areas: "sidebar"
                         "main";
  }
}

.sidebar {
  background-color: var(--grayColor);
  box-shadow: 2px 0px 11px -6px rgba(0,0,0,0.75);
  grid-area: sidebar;
  position: fixed;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100px;
  padding: 1em 0;
  @media (--mobile) {
    /* flex-direction: row; */
  }
  & .sidebar-image {
    width: 60%;
    margin: 0 auto;
  }
  & .sidebar-social {
    & .sidebar-social-item {
      display: block;
      width: 30px;
      height: 30px;
      margin: 0 auto;
      margin-bottom: 2em;
/*       &:last-child {
        margin-bottom: 0;
      } */
    }
    & .instagram {
      background-image: url('../../assets/icons/instagram.svg');
      background-size: contain;
      background-position: center;
    }
    & .twitter {
      background-image: url('../../assets/icons/twitter.svg');
      background-size: contain;
      background-position: center;
    }
    & .youtube {
      background-image: url('../../assets/icons/youtube.svg');
      background-size: contain;
      background-position: center;
    }
    & .whatsapp {
      background-image: url('../../assets/icons/whatsapp.svg');
      background-size: contain;
      background-position: center;
    }
  }
}
.main {
  background-color: var(--background);
  grid-area: main;
}

.header {
  background: var(--grayColor);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
  height: 70px;
  font-size: var(--fontMedium);
  & .header-menu {
    height: inherit;
    & ol {
      display: flex;
      height: inherit;
      margin: 0;
      padding-left: 0;
      & li {
        list-style-type: none;
        margin-left: 2em;
        height: inherit;
        & .header-menu-link {
          color: var(--blue);
          text-decoration: none;
          height: inherit;
          display: flex;
          align-items: center;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.hero {
  background: var(--grayColor);
  padding: 0 10% 5%;
  display: flex;
  box-shadow: 0px 9px 19px -17px rgba(0,0,0,0.63);
  @media (--mobile) {
    display: block;
    padding-left: 0;
    padding-right: 0;
    height: 185px;
  }
  @media (--desktop) {
    padding: 0 5% 5%;
  }
  & .hero-title {
    margin: 0;
    font-size: var(--fontTitle);
    width: 50%;
    font-weight: bold;
    color: var(--blue);
    @media (--mobile) {
      text-align: center;
      width: auto;
    }
    @media (--ipad) {
      font-size: 45px;
    }
    @media (--desktop) {
      font-size: 50px;
    }
  }
  & div {
    width: 50%;
    position: relative;
    animation-name: movimiento;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    @media (--mobile) {
      text-align: center;
      margin: 0 auto;
    }
    & .hero-imageWrapper {
      margin: 0%;
      max-width: 400px;
      max-height: 400px;
      border-radius: var(--borderRadius);
      position: absolute;
      left: 8%;
      box-shadow: 10px 9px 19px -17px rgba(0,0,0,0.63);
      @media (--mobile) {
        left: 0;
      }
      @media (--desktop) {
        max-width: 250px;
        max-height: 250px;
      }
      & .hero-image {
        width: 100%;
        overflow: hidden;
        border-radius: var(--borderRadius);
        vertical-align: top;
      }
    }
  }
}

.start {
  padding: 7% 0 0 10%;
  @media (--mobile) {
    padding-top: 40%;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10%;
  }
  @media (--ipad) {
    padding-top: 14%;
  }
  @media (--desktop) {
    padding-left:5%;
  }
  & .details {
    @apply --cards;
    box-sizing: border-box;
    @media (--mobile) {
      width: 100%;
    }
    & .details-imageWrapper {
      margin: 0;
      margin-right: 1em;
      & .details-image {
        vertical-align: top;
      }
    }
    & .details-title {
      margin: 0 0 .5em;
      color: var(--blue);
      @media (--ipad) {
        font-size: 15px;
      }
    }
    & .details-description {
      margin: 0;
      color: var(--fontColor);
      font-size: 15px;
    }
  }
  & .details:nth-of-type(2) {
    margin-top: 2%;
    margin-left: 10%;
    @media (--mobile) {
      margin-left: 0;
      margin-bottom: 20px;
    }
  }
  & .rocket {
    margin-left: 60%;
    animation-name: rocket;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @media (--ipad) {
      width: 100px;
    }
  }
}


.about-me {
  padding-left: 10%;
  box-sizing: border-box;
  @media (--mobile) {
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (--desktop) {
    padding-left: 5%
  }
  & h2 {
    font-size: var(--fontSubtitle);
    color: var(--blue);
  }
  & article {
    font-size: var(--fontMedium);
    color: var(--fontColor);
    @apply --cards;
    width: 50%;
    display: block;
    @media (--mobile) {
      font-size: 15px;
    }
    & p:last-child {
      font-weight: bold;
      color: var(--blue);
      margin-bottom: 0;
    }
    @media (--mobile) {
      width: 100%;
    }
  }
}

.portfolio {
  padding: 5% 0 10% 0;
  & .portfolio-title {
    text-align: center;
    font-size: var(--fontSubtitle);
    color: var(--blue);
  }
  & div {
    display: flex;
    justify-content: space-evenly;
    @media (--ipad) {
      text-align: center;
      display:block;
    }
    & img {
      border-radius: var(--borderRadius);
      box-shadow: 4px 5px 15px -10px rgba(0,0,0,0.75);
      @media (--ipad) {
        margin: 0 auto;
      }
    }
    & img:first-child {
      @media (--ipad) {
        margin-bottom: 20px;
      }
    }
  }
}

.footer {
  background: var(--red);
  color: var(--white);
  padding: 20px;
  color: white;
  text-align: center;
  & p {
    margin: 0;
    & a {
      color: white;
      text-decoration: none;
    }
  }
}


@custom-media --mobile screen and (width <= 600px);
@custom-media --ipad screen and (width <=768px);
@custom-media --desktop screen and (width <= 1023px);

@keyframes movimiento {
  0% {
    top:0;
    opacity: 0;
  }
  100% {
    top: 8vh;
    opacity: 1;
  }
}

@keyframes rocket {
  from {
    transform: scale(.8);
  }
  to {
    transform: scale(1);
  }
}